body{
	background-color: #b4cdd4;
  font-family: 'Special Elite', cursive;
}

.name-1, .name-2{
  width: 120px;
  text-align: center;
  margin-left: 35px;
}
.active{
  background-color: red;
  outline: 5px solid red;
}
.container{
	display: flex;
	margin: auto;
	width: 100%;
	height: 400px;
	padding-top: 2px;
	padding-bottom: 5%;

}
.player-container {
  width: 130px;
  height: 460px;
  float: left;
  position: relative;
}
.player-container::before {
  content: "";
  width: 120px;
  height: 70px;
  position: absolute;
  background: #000;
  z-index: -1;
  top: -7px;
}
.player-container.player-0 {
  background-color: #fdc9c5;
  border-radius: 3px;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
}
.player-container.player-0::before {
  top: -5px;
  left: -2px;
  border-top-left-radius: 75px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.player-container.player-1 {
  background: #ede586;
  border-radius: 3px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
}
.player-container.player-1::before {
  top: -5px;
  right: -2px;
  border-top-right-radius: 75px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*
.player-container{
	background-color: white;
	border: 1px solid black;
}*/
.player-0{
	width: 200px;
	text-align: center;
	margin-left: 100px;
}
.player-1{
	width: 200px;
	text-align: center;
	margin-right: 100px;
}

.hidden{
  display: none ;
}
.hiddenDpad{
  display: none ;
}

.battle{ 
  background-image: url("img/ground2.jpg");
  width: 420px;
  height: 420px;
  border: 20px solid #404040;
}

.grid-box
{	
	background-image: url("img/ground2.jpg");
  z-index: 0;
	width: 420px;
	height: 420px;
	border: 20px solid #404040;
}
.grid-box>div.square {
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
  width: 10%;
  height: 10%;
  box-sizing: border-box;
  border: 1px solid #000;
}
.ob{
	background-image: url("img/wood.png");
}
.p-0{
	background-image: url("img/p0.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
	/*background-image: url("img/p3.png");*/
}
.p-1{
	background-image: url("img/p1.png");
  background-repeat:no-repeat;
  z-index: 1;
}
.move{
	text-align: center;
}
#moves{
  margin-top: 100px;
}

/* WEAPONS */
.w0-title, .w1-title, #sTitle-0, #sTitle-1{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
.wep-0, .wep-1, #score-0, #score-1, #scores-0, #scores-1, .ww-0, .ww-1, .moves{
  text-align: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  margin-left: 35%;
  border: 2px dashed black;
  background-color: #8f8f8f;
}
.wp-0{
  background-image: url("img/weapon.png");
  background-repeat: no-repeat;
  position: relative; ;
  z-index: 1 ;
}
.wp-1{
  background-image: url("img/weapon.png");
  background-repeat: no-repeat;
  z-index: ;
}

.w-1{
	background-image: url("img/weapon_1.png");
   background-repeat:no-repeat;
   position:relative; ;
   z-index: 1;
}
.w-2{
	background-image: url("img/weapon_2.png");
   background-repeat:no-repeat;
      position: relative;
   z-index: 0;
}

.w-3{
	background-image: url("img/weapon_3.png");
   background-repeat:no-repeat;
      position: relative;
   z-index: 2;
}
.w-4{
	background-image: url("img/weapon_4.png");
   background-repeat:no-repeat;
      position: relative;
   z-index: 2;
}

.att-def{
  
  width: 100px;
  height: 100px;
  background-color: pink;
}


/*______________ ANIMATION _______ */
.is-animated {
    animation-duration: .9s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.4,0,.2,1);
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,75%,0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}


.player{
  background-color: orange;
}




